@media(max-width:770px) {
    .main-principal {
        width: 100%;
    }

    body{
       padding-top: 0px; 
       margin: 0px;
       justify-content: flex-end;
    }

    .container,
    section {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.informacoes-sobre-bike {
    flex-direction: column;
    gap: 40px;
}

.texto-sobre-bike {
    width: 100%;
}
}



