body{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(153, 153, 153);
    padding-top: 40px;
}

.main-principal {
    width: 75%;
    box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.37);
}

.informacoes-sobre-bike {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    padding: 40px;
    padding-right: 0px;
}

.texto-sobre-bike {
    margin-top: 30px;
    width: 60%;
}

.titulo {
    margin-bottom: 30px;
    font-size: 50px;
}

.texto{
    line-height: 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

}
h1, h2 {
    letter-spacing: -0.01em;
}

.botao-loja {
    padding: 12px 20px;
    background-color: black;
    color: white;
    border: none;
    margin-top: 20px;
}

.imagem-bike {
    height: 50%;
    display: flex;
    align-items: end;
    justify-content: end;
    position: relative;
}

.sombra-bike {
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.089);
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.226);
    border: none;
    
}
